@using Microsoft.AspNetCore.Identity
@using Rent_A_Car_Web.Data
@inject UserManager<User> UserManager

@{
    var user = UserManager.FindByEmailAsync(User.Identity?.Name).Result;//vzimame lognati-a user
    ViewData["Title"] = $"Profile - {@user.NickName}";
}
<p>
    Profile page
    @user.NickName
</p>