@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Car catalog";
}
<div class="text-center">
    <h1 class="display-4">Car catalog page</h1>
    <p>This is car List</p>
</div>

