@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url("https://static.vecteezy.com/system/resources/previews/008/652/604/non_2x/car-rental-social-media-template-flat-cartoon-twitch-background-illustration-vector.jpg");
            background-repeat: no-repeat, repeat;
            background-color: #cccccc;
              height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
        }

       

        .myDiv1 {
         
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="myDiv1">
    <div class="row">
        <div class="col-md-4">
            <section>
                <div class="myDiv">
                <form id="account" method="post">
                            <h2 style="color:white;">Log in to view the list of cars and use our system</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating my-2">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"> </label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating my-2">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div>
                        <div class="checkbox">
                                    <label style="color:white;"  asp-for="Input.RememberMe" class="form-label">
                                        <input style="color:white;" class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                    </div>
                    <div class="my-2">
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
                </div>
            </section>
        </div>

    </div>
    </div>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
